body {
  background-color: #fff;
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

a,
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  outline: 0; }

h2 {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 44px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?exk2r2");
  src: url("../fonts/icomoon.eot?exk2r2#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?exk2r2") format("truetype"), url("../fonts/icomoon.woff?exk2r2") format("woff"), url("../fonts/icomoon.svg?exk2r2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*=" icon-"],
[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e902"; }

.nav {
  position: fixed;
  width: 100%;
  padding: 2rem 0 0.5rem;
  border-bottom: 1px solid #fff;
  opacity: 0.8;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .nav__list {
    width: 100%;
    text-align: center; }
  .nav__item {
    display: inline-block;
    padding: 0 1rem; }
  .nav__link {
    cursor: pointer; }
  .nav__link:hover {
    color: #455f50; }
  .nav__reverse {
    background-color: rgba(0, 0, 0, 0.7); }

.hamburger {
  display: none;
  width: 25px;
  height: 25px;
  border: 0;
  border-top: 5px solid #ffffff;
  background: transparent;
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 20px;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
  cursor: pointer; }

.hamburger::after,
.hamburger::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border-top: 5px solid #ffffff;
  -webkit-transform: translateY(5px);
  transform: translateY(5px); }

.hamburger::after {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear; }

.header {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
  text-transform: uppercase; }
  .header__content {
    margin: 6rem 0 3rem;
    text-align: center;
    width: 100%; }
  .header__header {
    font-size: 40px;
    font-weight: 400; }
  .header__highlight {
    font-weight: 700; }
  .header__logo {
    max-width: 100%;
    height: auto;
    padding: 2rem; }

.scroll {
  margin: 3rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px; }
  .scroll::after {
    display: block;
    position: relative;
    left: 50%;
    width: 20px;
    content: ">>";
    -webkit-transform: rotate(90deg) scaleY(2.5);
    transform: rotate(90deg) scaleY(2.5);
    margin-top: 1rem; }

.about-me {
  color: #000;
  padding: 8% 8% 0; }
  .about-me__header {
    text-transform: uppercase;
    padding-bottom: 2rem; }
  .about-me__text {
    padding-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px; }
  .about-me__picture {
    max-width: 100%;
    height: auto; }
  .about-me__content {
    padding: 2rem 3rem 4rem 1rem; }
  .about-me__signature {
    font-family: 'Pacifico', cursive;
    font-size: 20px; }

.portfolio {
  background-image: url("../img/portfolio-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff; }
  .portfolio__header {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 6rem 0 3rem; }
  .portfolio__pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 3rem; }
    .portfolio__pictures img {
      max-width: 100%;
      height: auto;
      margin: 1rem;
      -webkit-box-shadow: 0 0 20px black;
      box-shadow: 0 0 20px black;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .portfolio__pictures img:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05); }

.contact {
  text-align: center;
  padding: 10rem 0;
  text-transform: uppercase; }
  .contact__header {
    width: 100%;
    padding-bottom: 1rem;
    font-size: 22px;
    font-weight: 700; }
  .contact__text {
    width: 100%;
    padding-bottom: 1rem;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 4px; }
  .contact a {
    color: #000; }
    .contact a:hover {
      color: #455f50; }
  .contact__icons {
    width: 100%;
    font-size: 60px; }
    .contact__icons img {
      margin: 0 0.5rem; }

@media (max-width: 575px) {
  .header__header {
    font-size: 30px; }
  h2 {
    font-size: 36px; }
  .about-me__content {
    padding: 2rem 1rem 4rem; }
  .contact__header {
    font-size: 16px; }
  .contact__text {
    font-size: 20px; }
  .hamburger {
    display: inline-block; }
    .hamburger__open {
      -webkit-transform: rotate(45deg) translateY(5px);
      transform: rotate(45deg) translateY(5px);
      border: none; }
      .hamburger__open::after {
        -webkit-transform: rotate(-90deg) translateX(-6px);
        transform: rotate(-90deg) translateX(-6px); }
  .nav {
    border: none;
    padding-top: 0;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.7); }
    .nav__item {
      display: none;
      padding: 1rem; }
    .nav__list {
      text-align: left; }
    .nav__list--open {
      display: block; } }
