.about-me {
    color: #000;
    padding: 8% 8% 0;

    &__header {
        text-transform: uppercase;
        padding-bottom: 2rem;
    }

    &__text {
        padding-bottom: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
    }

    &__picture {
        max-width: 100%;
        height: auto;
    }

    &__content {
        padding: 2rem 3rem 4rem 1rem;
    }

    &__signature {
        font-family: 'Pacifico', cursive;
        font-size: 20px;
    }
}
