.contact {
    text-align: center;
    padding: 10rem 0;
    text-transform: uppercase;

    &__header {
        width: 100%;
        padding-bottom: 1rem;
        font-size: 22px;
        font-weight: 700;
    }

    &__text {
        width: 100%;
        padding-bottom: 1rem;
        font-size: 34px;
        font-weight: 400;
        letter-spacing: 4px;
    }

    & a {
        color: #000;

        &:hover {
            color: $link-hover-color;
        }
    }

    &__icons {
        width: 100%;
        font-size: 60px;

        & img {
            margin: 0 0.5rem;
        }
    }
}
