body {
    background-color: #fff;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    outline: 0;
}

h2 {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 44px;
}
