.hamburger {
    display: none;
    width: 25px;
    height: 25px;
    border: 0;
    border-top: 5px solid #ffffff;
    background: transparent;
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 20px;
    -webkit-transition: 0.3s -webkit-transform linear;
    transition: 0.3s -webkit-transform linear;
    transition: 0.3s transform linear;
    transition: 0.3s transform linear, 0.3s -webkit-transform linear;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-top: 5px solid #ffffff;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.hamburger::after {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: 0.3s -webkit-transform linear;
    transition: 0.3s -webkit-transform linear;
    transition: 0.3s transform linear;
    transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}
