.header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    text-transform: uppercase;

    &__content {
        margin: 6rem 0 3rem;
        text-align: center;
        width: 100%;
    }

    &__header {
        font-size: 40px;
        font-weight: 400;
    }

    &__highlight {
        font-weight: 700;
    }

    &__logo {
        max-width: 100%;
        height: auto;
        padding: 2rem;
    }
}
