.nav {
    position: fixed;
    width: 100%;
    padding: 2rem 0 0.5rem;
    border-bottom: 1px solid #fff;
    opacity: 0.8;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &__list {
        width: 100%;
        text-align: center;
    }

    &__item {
        display: inline-block;
        padding: 0 1rem;
    }

    &__link {
        cursor: pointer;
    }

    &__link:hover {
        color: $link-hover-color;
    }

    &__reverse {
        background-color: $menu-background-color;
    }
}
