.portfolio {
    background-image: url("../img/portfolio-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;

    &__header {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 6rem 0 3rem;
    }

    &__pictures {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 2rem 3rem;

        & img {
            max-width: 100%;
            height: auto;
            margin: 1rem;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 1);
            -webkit-transition: 0.3s;
            transition: 0.3s;

            &:hover {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }
        }
    }
}
