@media (max-width: 575px) {
    .header__header {
        font-size: 30px;
    }

    h2 {
        font-size: 36px;
    }

    .about-me__content {
        padding: 2rem 1rem 4rem;
    }

    .contact {
        &__header {
            font-size: 16px;
        }

        &__text {
            font-size: 20px;
        }
    }
    // Hamburger menu
    .hamburger {
        display: inline-block;

        &__open {
            -webkit-transform: rotate(45deg) translateY(5px);
            transform: rotate(45deg) translateY(5px);
            border: none;

            &::after {
                -webkit-transform: rotate(-90deg) translateX(-6px);
                transform: rotate(-90deg) translateX(-6px);
            }
        }
    }

    .nav {
        border: none;
        padding-top: 0;
        padding-bottom: 30px;
        background-color: $menu-background-color;

        &__item {
            display: none;
            padding: 1rem;
        }

        &__list {
            text-align: left;
        }

        &__list--open {
            display: block;
        }
    }
}
