.scroll {
    margin: 3rem auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;

    &::after {
        display: block;
        position: relative;
        left: 50%;
        width: 20px;
        content: ">>";
        -webkit-transform: rotate(90deg) scaleY(2.5);
        transform: rotate(90deg) scaleY(2.5);
        margin-top: 1rem;
    }
}
